.feature {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.feature .box {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.feature .box img {
    width: 100%;
}
.feature .box .title {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
}
.feature .box .title h1 {
    font-size: 20px;
    font-weight: bold;
}
.feature .box .title h2 {
    font-size: 14px;
    font-weight: 600;
}