.container{
    position: relative;
    width: 80%;
    margin: auto;
    z-index: 9;
}
@media screen and (max-width:765px) {
    .container {
        width: 95%;
    }
}
.item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: white;
    gap: 10px;
    text-transform: capitalize;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 6px;
    transition: .5s;
}
.item.active {
    border-color:  white;
}
.item:hover {
    border-color: white;
}
.container .searchBar {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: white;
    border: 3px solid #febb02;
    position: absolute;
    border-radius: 6px;
    bottom: -20px;
    height: 50px;
    width: 100%;
    left: 0;
}
@media screen and (max-width:765px) {
    .container .searchBar {
        flex-direction: column;
        height: fit-content;
        bottom: -130px;
    }
}
.searchIcon {
    color: #222;
}
.searchItem:not(:last-child){
    border-right: 3px solid #febb02;
    padding: 10px;
    height: 100%;
    flex: 1;
}
@media screen and (max-width:765px) {
    .searchItem {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .searchItem:not(:last-child){
        border-right: transparent;
        border-bottom: 3px solid #febb02;
    }
}
.search {
    background-color: #1e3a8a;
    color: white;
    height: 100%;
    padding: 11px 20px;
}
@media screen and (max-width:765px) {
    .search {
        height: 50%;
        padding: 5px 20px;
    }
}
.searchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchItem input {
    outline: none;
}
.searchItem input::placeholder{
    color: #222;
    font-weight: 600;
    transition: .5s;
}
.searchItem input:hover::placeholder {
    color: #eee;
    font-weight: 500;
}
.dateTime {
    position: absolute;
    top: 50px;
}
@media screen and (max-width:765px) {
    .dateTime {
        top: 93px;
    }
}

.options {
    position: absolute;
    top: 60px;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: -6px -6px 37px -4px rgba(0,0,0,0.51);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media screen and (max-width:765px) {
    .options {
        top: 150px;
    }
}
.option {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.option .num {
    padding: 3px 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px
    ;
}
.num button {
    background-color: #eee;
    padding: 0 5px;
}
.num button:disabled {
    cursor: not-allowed;
}
.container.listMode {
    padding: 5px 0;
}
.header{
    position:relative;
}
.header.media::before {
    content:  '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../../asset/helena-lopes-e3OUQGT9bWU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    z-index: -1;
}
.header.media::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: 1;
    opacity: .4;
}
@media screen and (max-width:765px) {
    .container .list .item {
        font-size: 8px;

    } 
}